a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
@font-face {
    font-family: main;
    src: url(../../font/MinnePetat-OV40d.ttf);
}
.main{
    overflow-x: hidden;
    .headTop{
        background-color: #ffdd2b;
        height: 280vh;
        @media screen and (max-width: 576px) {
            height: 200vh;
        }
        overflow: hidden;
        .mainPic{
            height: 200vh;
            z-index: 99;
            @media screen and (max-width: 768px) {
                height: 130vh;
                top: -10%;
            }
            position: absolute;
            top: -15%;right: 0;
            >img{
                object-fit: contain;
            }
        }
        .blue1{
            @media screen and (max-width: 768px) {
                top: -5%;right: -5%;
            }
            position: absolute;
            top: -15%;right: -15%;
        }
        .blue2{
            transform: rotate(60deg);
            position: absolute;
            top: 25%;left: -50%;
        }
        .socialTop{
            height: 30vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;align-items: center;
            // border: 2px solid blue;
            position: absolute;
            top: 2%;
            left: 3%;
            >h2{
                text-transform: uppercase;
                color: #fd4e22;
                font-family: main;
                font-weight: bold;
                font-size: 22px;
                padding-left: 5%;
                @media screen and (max-width: 576px) {
                    font-size: 12px;
                    padding-left: 0%;
                }
                @media screen and (min-width: 576px) and (max-width: 768px) {
                    font-size: 18px;
                }
            }
            .menuTop{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;align-items: center;
                >a{
                    text-transform: uppercase;
                    color: #fd4e22;
                    font-family: main;
                    font-weight: bold;
                    font-size: 22px;
                    @media screen and (max-width: 800px) {
                        font-size: 50%;
                    }
                    @media screen and (min-width: 800px) and (max-width: 1200px) {
                        font-size: 16px;
                    }
                }
            }
            .socialPicTop{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;align-items: center;
                >figure{
                    cursor: pointer;
                    @media screen and (max-width: 992px) {
                        width: 20%;
                    }
                }
            }
        }
        .logoTop{
            position: absolute;
            top: 35vh;
            left: 3%;
        }
        .circleTop{
            top: 50%;
            left: 3%;
            @media screen and (max-width: 1200px) {
                left: 0;
                top: 40%;
            }
            height: 70vh;
            @media screen and (max-width: 576px) {
                display: none;
            }
            width: 70vh;
            background-color: #fd4e22;
            border-radius: 50%;
            cursor: pointer;
            >figure{
                position: absolute;
                &:nth-of-type(1){
                    top: 50%;left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:nth-of-type(2){
                    top: 3%;left: 3%;
                    width: 94%;
                    animation: topCircle 10s linear infinite;
                }
                &:nth-of-type(3){
                    top: 18%;
                    left: 10%;
                    width: 80%;
                }
            }
        }
        @keyframes topCircle {
            to{
                transform: rotate(360deg);
            }
        }
        .aboutTop{
            position: absolute;
            bottom: 10%;
            right: 0%;
            z-index: 200;
            @media screen and (min-width: 576px) and (max-width: 992px) {
                bottom: 0;
            }
            display: flex;
            flex-wrap: wrap;
            justify-content: center;align-content: space-between;
            >p{
                font-family: main;
                font-weight: bold;
                font-size: 50px;
                @media screen  and (max-width: 576px) {
                    font-size: 35px;
                    line-height: 45px;
                }
                @media screen and (min-width: 576px) and (max-width: 1200px) {
                    font-size: 40px;
                    line-height: 60px;
                }
                color: #72c1c3;
                line-height: 70px;
            }
        }
    }
    .tickets{
        display: flex;
        background-color: #fd4e22;
        height: 220vh;
        .edgeTicket{
            position: absolute;
            top: -10%;left: 0;
            border-bottom: 30px solid #fd4e22;
            @media screen and (max-width: 768px) {
                top: -4%;
            }
        }
        .ticketBox{
            overflow: hidden;  
            height: 20%;
            // border: 3px solid red;
            @media screen and (max-width: 768px) {
                height: 10%;
            }
            .ticket{
                width: 130px;
                height: 80px;
                position: absolute;
                cursor: pointer;
                &:hover{
                    animation: tickets .4s alternate infinite;
                }
                @media screen and (min-width: 992px) {
                    width: 270px;
                    height: 150px;
                }
                display: flex;
                position: absolute;
            }
            .t1{
                top: 0%;right: -5%;
            }
            .t2{
                top: 10%;
                right: 20%;
                transform: rotate(20deg);
            }
            .t3{
                top: 0%;left: -7%;
            }
            .t4{
                top: 30%;
                left: 7%;
                transform: rotate(-20deg);
            }
        }
        .tourTitle{
            height: 20vh;
            @media screen and (max-width: 576px) {
                transform: translateY(-300%);
            }
            @media screen and (min-width: 576px) and (min-width: 768px) {
                transform: translateY(-100%);
            }
            >h2{
                font-family: main;
                color: #ffdd2b;
                font-weight: bold;
                @media screen and (max-width: 576px) {
                    font-size: 40px;
                }
                font-size: 55px;
                @media screen and (min-width: 992px) {
                    font-size: 90px;
                }
                text-align: center;
                text-transform: uppercase;
            }
        }
        .tourDates{
            // border: 3px solid red;
            @media screen and (min-width: 768px) {
                transform: translateY(-25%);
            }
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            right: 2%;bottom: 0;
            justify-content: space-around;align-content: center;
            >div{
                height: 30vh;
                margin: 5% 0;
                display: flex;
                flex-wrap: wrap;
                align-content: space-around;
                justify-content: center;
                >h4{
                    font-family: main;
                    font-weight: bold;
                    color: #ffc0e9;
                    text-align: center;
                    font-size: 35px;
                }
                >a{
                    width: 80%;
                    height: 20%;
                    background-color: #ffdd2b;
                    color: #fd4e22;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;align-items: center;
                    font-family: main;
                    font-weight: bold;
                    font-size: 30px;
                    @media screen and (max-width:768px) {
                        font-size: 20px;
                    }
                }
                &:nth-of-type(2), &:nth-of-type(4){
                    >a{
                        transform: rotate(-5deg);
                    }
                }
                &:nth-of-type(3){
                    >a{
                        transform: rotate(5deg);
                    }
                }
            }
        }
        .personTicket{
            width: 45%;
            height: 30%;
            transform: scaleX(-1);
            position: absolute;
            bottom: -3%;
            left: 0;
            cursor: pointer;
            &:hover{
                animation: personTicket .07s alternate infinite;
            }
        }
    }
    .poster{
        background-color: #59cbff;
        height: 120vh;
        @media screen and (max-width: 425px) {
            height: 100vh;
        }
        .innerPoster{
            justify-content: center;
            align-content: center;
            .buyButtonPoster{
                width: 300px;
                z-index: 100;
                height: 100px;
                background-color: #ffdd2b;
                border: 3px solid black;
                border-radius: 40px;
                cursor: pointer;
                &:hover{
                    animation: buyButton .1s alternate infinite;
                }
                @keyframes buyButton {
                    50%{
                        transform: rotate(3deg);
                    }
                    100%{
                        transform: rotate(-3deg);
                    }
                }
                >a{
                    font-family: main;
                    font-weight: bold;
                    display: flex;justify-content: center;
                    align-items: center;
                    color: black;
                    text-transform: uppercase;
                    font-size: 30px;
                }
            }
            >h2{
                color: black;
                font-family: main;
                font-weight: bold;font-size: 80px;
                @media screen and (max-width: 425px) {
                    font-size: 30px;
                }
                @media screen and (min-width: 425px) and (max-width: 576px) {
                    font-size: 50px;
                }
                text-align: center;
                z-index: 100;
            }
            >figure{
                position: absolute;
                width: 50%;height: 35%;
                @media screen and (max-width: 576px) {
                    height: 40%; width: 70%;
                }
                @media screen and (min-width: 576px) and (max-width: 768px) {
                    height: 40%;width: 40%;
                }
                &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
                    width: 30%;height: 15%;
                    z-index: 70;
                }
                &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6){
                    z-index: 50;
                }
                &:nth-of-type(1){
                    top: 70%;left: 10%;
                    height: 20%;
                }
                &:nth-of-type(2){
                    top: 5%;left: 10%;
                }
                &:nth-of-type(3){
                    top: 70%;left: 50%;
                }
                &:nth-of-type(4){
                    top: -5%;left: 65%;
                    transform: rotate(-10deg);
                    z-index: 2;
                }
                &:nth-of-type(5){
                    top: 40%;left: 50%;
                    transform: rotate(10deg);
                    @media screen and (max-width: 576px) {
                        top: 50%;
                    }
                    @media screen and (min-width: 576px) and (max-width: 1200px) {
                        left: 60%;
                    }
                }
                &:nth-of-type(6){
                    top: 20%;left: -10%;
                    transform: rotate(40deg);
                    @media screen and (max-width: 576px) {
                        top: 10%;
                        left: -25%;
                    }
                    @media screen and (min-width: 576px) and (max-width: 1200px) {
                        left: -20%;
                    }
                }
                @media screen and (min-width: 800px) {
                    height: 600px;width: 500px;
                }
            }
        }
    }
    .mv{
        height: 300vh;
        @media screen and (max-width: 425px) {
            height: 120vh;
        }
        @media screen and (min-width: 425px) and (max-width: 992px) {
            height: 170vh;
        }
        background-color: #a67dfe;
        background-image: url(../img/mv/Vector-music.svg);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 50% 50%;
        background-attachment: fixed;
        .cam{
            width: 35%;
            height: 15%;
            z-index: 50;
            position: absolute;
            top: 10%;right: 0;
            >img{
                position: absolute;
                &:nth-of-type(1){
                    top: 0;
                    left: 0;
                    width: 100%;height: 100%;
                    z-index: 50;
                }
                &:nth-of-type(2){
                    width: 73%;
                    height: 67%;
                    z-index: 45;
                    top: 14%;
                    left: 12%;
                    transform: rotate(-3deg);
                }
            }
        }
        .flash{
            width: 30%;
            height: 15%;
            z-index: 50;
            position: absolute;
            top: 40%;left: 5%;
            >img{
                width: 100%;height: 100%;
            }
        }
        .apple, .spotify, .youtube{
            width: 30%;
            z-index: 50;
            position: absolute;
            transform: rotate(20deg);
            >img{
                width: 100%;height: 100%;
            }
        }
        .apple{
            top: 20%;left: 5%;
        }
        .youtube{
            transform: rotate(-20deg);
            top: 5%;left: 0;
        }
        .spotify{
            top: 40%;right: 0;
        }
        .milchPic{
            width: 70%;
            position: absolute;
            bottom: 0;left: 40%;
            >img{
                width: 100%;height: 100%;
            }
        }
        .tv{
            position: absolute;
            z-index: 50;
            height: 30%;
            bottom: 0%;left: 0;
            width: 50%;
            >img{
                position: absolute;
                &:nth-of-type(1){
                    top: 0;
                    left: 0;
                    width: 100%;height: 100%;
                    z-index: 50;
                }
                &:nth-of-type(2){
                    width: 80%;
                    height: 70%;
                    z-index: 45;
                    top: 15%;
                    left: 10%;
                }
            }
        }
        .square{
            display: flex;flex-wrap: wrap;
            width: 100%;height: 100%;
            .rows{
                width: 100%;
                flex-grow: 1;
                display: flex;
                flex-wrap: nowrap;
                >span{
                    flex-grow: 1;
                    display: flex;
                    z-index: 1;                    
                    width: 10%;height: 100%;
                    // border: 2px solid blue;
                    border-radius: 5%;
                    background-color: #a706ff;
                    box-shadow: 0 0 10px #7015a1;
                    margin: 0 1px;
                    transition: .1s;
                    opacity: 0;
                    &:hover{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .milch{
        height: 120vh;
        @media screen and (max-width: 425px) {
            height: 100vh;
        }
        background-image: url(../img/milch/pink-bg-2.jpg);
        background-size: cover;
        .titleMilch{
            width: 100%;
            text-transform: uppercase;
            position: absolute;
            top: 0;left: 0;
            margin-top: 5%;
            font-size: 500%;
            @media screen and (max-width: 425px) {
                font-size: 30px;
            }
            @media screen and (min-width: 425px) and (max-width: 1200px) {
                font-size: 250%;
            }
            font-family: main;
            text-align: center;
            color: #ffdd2b;
            z-index: 60;
        }
        .bodyPic{
            height: 80%;
            width: 70%;
            @media screen and (max-width: 425px) {
                width: 77%;
            }
            transform: translateX(-50%);
            position: absolute;
            bottom: 0;left: 50%;
            >img{
                width: 100%;height: 100%;
            }
        }
        .drag{
            position: absolute;
            width: 10%;
            height: 20%;
            top: 0;left: 0;
            z-index: 100;
        }
        .hair1{
            width: 25%;height: 35%;
            top: 15%;left: 36%;
        }
        .hair2{
            width: 25%;height: 45%;
            top: 50%;left: 0;
        }
        .nose1{
            width: 8%;
            top: 46%;
            left: 44%;
        }
        .nose2{
            width: 8%;
            top: 25%;
            left: 10%;
        }
        .leye1{
            height: 10%;
            top: 43%;
            left: 38%;
        }
        .leye2{
            height: 15%;
            top: 40%;
            left: 65%;
        }
        .leye3{
            height: 15%;
            top: 40%;
            left: 23%;
        }
        .reye1{
            height: 12%;
            top: 42%;
            left: 49%;
        }
        .reye2{
            height: 12%;
            top: 40%;
            left: 85%;
        }
        .reye3{
            height: 12%;
            top: 25%;
            left: 75%;
        }
        .mouth1{
            width: 15%;
            top: 15%;
            left: 23%;
        }
        .mouth2{
            width: 15%;
            top: 58%;
            left: 40%;
        }
        .mouth3{
            width: 15%;
            top: 58%;
            left: 70%;
        }
    }
    .merch{
        height: 200vh;
        background-color: #45e054;
        @media screen and (max-width: 425px) {
            height: 130vh;
        }
        .edgeMerch{
            width: 100%;
            position: absolute;
            top: -7%;
            left: 0;
        }
        .develop{
            font-family: main;
            text-transform: capitalize;
            text-align: center;
        }
        .socialFoot{
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            height: 5%;
            justify-content: space-evenly;
            align-items: center;
            >a{
                border: 2px solid black;
                display: flex;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                >i{
                    color: black;
                    display: flex;
                    justify-content: center;align-items: center;
                    width: 100%;height: 100% 0;
                }
            }
        }
        .buyMerch{
            width: 85%;
            height: 17%;
            @media screen and (min-width: 992px) {
                height: 20%;
            }
            z-index: 10;
            margin: 5% auto;
            border: 2px solid black;
            border-radius: 200px;
            display: flex;
            background-color: #45e054;
            transition: .4s;
            cursor: pointer;
            >a{
                color: white;
                font-family: main;
                font-size: 80px;
                @media screen and (min-width: 425px) and (max-width: 768px) {
                    font-size: 220%;
                }
                @media screen and (max-width: 425px) {
                    font-size: 150%;
                }
                text-transform: uppercase;
                display: flex;justify-content: center;align-items: center;
            }
            >span{
                font-family: main;
                font-size: 80px;
                @media screen and (min-width: 425px) and (max-width: 768px) {
                    font-size: 220%;
                    top: 10%;
                }
                @media screen and (max-width: 425px) {
                    font-size: 150%;
                    top: 10%;
                }
                color: white;
                position: absolute;
                text-transform: uppercase;
                right: 25%;
                top: 10%;
                transition: .2s;
                visibility: hidden;
            }
            &:hover{
                background-color: black;
                >span{
                    visibility: visible;
                    &:nth-of-type(1){
                        top: 0%;
                        right: 15%;
                        transform: rotate(-10deg);
                    }
                    &:nth-of-type(2){
                        top: 20%;
                        @media screen and (max-width: 768px) {
                            top: 20%;
                        }
                        right: 23%;
                        transform: rotate(10deg);
                    }
                }
            }
        }
        .cartMerch{
            height: 60%;
            width: 80%;
            @media screen and (max-width: 425px) {
                height: 50%;
            }
            margin: 0 auto;
            // border: 2px solid red;
            position: relative;
            >img{
                position: absolute;
                object-fit: contain;
                &:nth-of-type(1){
                    top: 0;left: 0;
                }
                &:nth-of-type(2){
                    transform: rotate(-5deg);
                    width: 40%;height: 60%;
                    top: 10%;right: 0;
                    z-index: 5;
                }
                &:nth-of-type(3){
                    transform: rotate(-5deg);
                    width: 40%;height: 60%;
                    top: 35%;left: 0;
                    z-index: 5;
                }
                &:nth-of-type(4){
                    transform: rotate(5deg);
                    width: 35%;height: 60%;
                    top: 15%;left: 40%;
                }
                &:nth-of-type(5){
                    transform: rotate(-5deg);
                    width: 35%;
                    height: 60%;
                    top: 27%;
                    left: 23%;
                }
            }
        }
    }
}
@keyframes tickets {
    to{
        transform: rotate(5deg);
    }
}
@keyframes personTicket {
    to{
        transform: rotate(-5deg) scaleX(-1);
    }
}